html{
    scroll-behavior: smooth;
}
.card{
    
    transition: 0.2s linear;
   
    
    
}

.card:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
    
}
.accordion-header, .accordion-item{

    margin-bottom: 20px;
    border: none !important;
    
}